
/********  RESET  *********/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*********************  
******  GENERIC ****** 
*********************/

.bg-blue-layout{
    background-color: #0084fd;
}

/*********************  
******  HEADER ****** 
*********************/

header nav #extended-menu{
    display: none;
}

header nav #hamburger-menu{
    display: block;
    color: white;
}

/*********************  
*******  MAIN ******** 
*********************/

/*****  HERO SECTION  *****/

#hero-section{
    padding-top: 2em;
}

#hero-section .card-container{
    gap: 1em;
}

#hero-section .card{
    border: 3px black solid;
    border-radius: 15px;
}

#demo-card{
    gap: 1em;
}




/*********************  
******  FOOTER ******* 
*********************/

