
/********  RESET  *********/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*********************  
******  GENERIC ****** 
*********************/

.bg-blue-layout{
    background-color: #0084fd;
}

.container{
    width: 100%;
    padding: 0 1em;
    max-width: 1200px;
}

/*********************  
******  HEADER ****** 
*********************/

header a{
    color: white;
    margin-right: 2em;
}



#get-start-button{
    padding: 0.5em 1em;
    border-radius: 30px;
    background-color: white;
    color: black;
    margin-right: 0;
}

header nav #extended-menu{
    display: none;
}

header nav #hamburger-menu{
    display: block;
    color: white;
}

@media screen and (min-width:992px) {
    
    header nav #extended-menu{
        display: block;
    }
    
    header nav #hamburger-menu{
        display: none;
    }
}

/*********************  
*******  MAIN ******** 
*********************/

/*****  HERO SECTION  *****/

#hero{
    padding: 2em 0;
}

#hero .container{
    padding: 0;
}

#hero .col{
    width: 100%;
    padding: 1em;
}

#hero .card{
    width: 100%;
    border: 3px dashed black;
    border-radius: 15px;
}

#demo-card div{
    padding: 1em;
    width: 100%;
    border: 5px solid black;
}

@media screen and (min-width: 769px){
    
    #hero .col{
        width: calc( 100% / 3);
    }

    #hero #demo-card{
        width: calc( 100% / 3 * 2 );
    }
}

@media screen and (min-width: 992px){
    
    #demo-card div{
        width: 50%;
    }
}



/*****  PLANNING SECTION  *****/

#planning{
    padding: 2em 0;
}

#planning .container{
    max-width: 900px;
}

#planning .col{
    width: 100%;
    padding: 1em 0;
}

#planning .col div{
    border: 3px dashed black;
} 

@media screen and (min-width: 992px) {
    
    #planning .col{
        width: 50%;
    }
}

/*****  TESTIMONIAL SECTION  *****/

#testimonial{
    padding: 2em 0;
}

#testimonial .col{
    width: 100%;
    padding: 1em 0;
}

#testimonial .card{
    padding: 1em;
}

#testimonial .card div{
    border: 3px dashed black;
    width: 100%;
}

@media screen and (min-width: 769px) {
    
    #testimonial .card div:first-child{
        width: 30%;
    }

    #testimonial .card div:last-child{
        width: 70%;
    }
}


/*****  BENEFITS SECTION  *****/

#benefits{
    padding: 2em 0;
}

#benefits .container{
    padding: 0;
}

#benefits-header{
    width: 100%;
    padding: 1em;
}

#benefits .col{
    width: 100%;
    padding: 1em;
}

@media screen and (min-width: 769px) {
    
    #benefits .col{
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    
    #benefits .col{
        width: calc( 100% / 3);
    }
}

/*****  ABOUT US SECTION  *****/

#aboutus{
    padding: 2em 0;
}

#aboutus .container{
    padding: 0 1em;
    max-width: 1100px;
}

#aboutus .container .col{
    width: 100%;
    padding: 1em;
    border: 3px dashed black;
}

@media screen and (min-width: 769px) {
    
    #aboutus .container .col:first-child{
        width: 60%;
    }

    #aboutus .container .col:last-child{
        width: 40%;
    }
}

/*****  GET START SECTION  *****/

#get-start{
    padding: 2em 0;
}

#get-start .container{
    padding: 0 1em;
    max-width: 600px;
}

#get-start .col{
    width: 100%;
    padding: 1em;
}

/*********************  
******  FOOTER ******* 
*********************/

#footer{
    width: 100%;
    padding: 2em 0;
}

#footer .container{
    padding: 1em;
    max-width: 600px;
}



/*********************  
****  MEDIA QUERY **** 
*********************/

/*****  HERO SECTION TABLET  *****/


