
/********  RESET  *********/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*********************  
******  GENERIC ****** 
*********************/

.bg-blue-layout{
    background-color: #0084fd;
}

.container{
    width: 100%;
}

/*********************  
******  HEADER ****** 
*********************/

header nav #extended-menu{
    display: none;
}

header nav #hamburger-menu{
    display: block;
    color: white;
}

/*********************  
*******  MAIN ******** 
*********************/

/*****  HERO SECTION  *****/

#hero-section{
    padding: 2em 0;
}

#hero-section .col{
    width: 100%;
    padding: 1em;
}

#hero-section .card-container{

}

#hero-section .card{
    width: 100%;
    border: 3px dashed black;
    border-radius: 15px;
}

#demo-card{
    gap: 1em;
}


/*****  PLANNING SECTION  *****/

#planning .col{
    padding: 1em;
}

#planning .col div{
    border: 3px dashed black;
} 

/*********************  
******  FOOTER ******* 
*********************/
